.blog-title {
    padding-top: 4.5em;
}

.blog-container {
    height: fit-content;
    padding-bottom: 4.5em;
    background: rgb(203,169,150);
    background: linear-gradient(0deg, rgba(203,169,150,1) 0%, rgba(221,207,190,1) 100%);
}