@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=K2D&family=Roboto&display=swap');

.header {
    background-image: url("https://64.media.tumblr.com/8055c71746f3e63377b070388522571b/eef155f6ffd195fa-b1/s2048x3072/a7001904cdd4890f2621c9e712fc3bfbf385b2a5.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness();
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-family: 'K2D', sans-serif;
    font-size: 100px;
    color: rgb(39, 38, 38); 
    margin-bottom: 0;

    @media (max-width: 1025px) {
      font-size: 80px;
    }
  }

  .subtitle {
    font-size: 30px;
    margin-top: 0;

    @media (max-width: 1025px) {
      font-size: 20px;
    }
  }
  
  .header h5 {
    width: 600px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;

    @media (max-width: 1025px) {
      width: 360px;
    }
  }