@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

@font-face {
  font-family: "arck";
  src: url("../../assets/fonts/Arck.woff") format('woff');
}


.header {
  background-image: url("../../images/background-text.jpg");
  background-size: cover;
  background-position: center;
  height: fit-content!important;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  top: 0;
  left: 0;
}
  
  .title {
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    color: rgb(39, 38, 38); 
    margin-bottom: 0px;
    margin-top: 0px;
    background-clip: text;
    -webkit-background-clip: text;
    color: #c6aba5;

    @media (max-width: 1025px) {
      font-size: 80px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1025px) {
      font-size: 150px;
      
    }
    @media screen and (min-width: 1750px) {
      font-size: 230px;
    }
  }

  .title-top {
    animation: fadeInRight 2s 0.5s both;
    position: absolute;
    margin-top: 10%;
    margin-left: 2%;
    z-index: 0;
    @media (max-width: 1025px) {
      margin-top: 30%;
    }
  }

  .title-bottom {
    margin-top: 20%;
    margin-left: 50%;
    animation: fadeInLeft 2s 0.5s both;
    position: absolute;
    z-index: 999;
    padding-top: 110px;
    @media (max-width: 1025px) {
      margin-top: 85%;
      margin-left: 20%;
    }
  }

  .image-between {
    width: 45%;
    position: absolute;
    z-index: 900;
    margin-left: 25%;
    @media (max-width: 1025px) {
      margin-bottom: 0px;
      width: 100%;
      margin-left: 0%;
      margin-top: 35%;
    }
  }


  .section-1 {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background:white;
    padding-top: 3%;
    @media (max-width: 1025px) {
      flex-direction: column;
    }
  }
  
  .subtitle {
    font-size: 35px;
    font-weight: 300;
    width: 500px;
    margin-top: 0;
    margin-left: 0px;
    @media (max-width: 1025px) {
      width: auto;
      margin-top: 2%;
    }
  }

  .button-homepage {
    border: none;
    background-color: transparent;
    margin-right: 100px;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    cursor: pointer;
    @media (max-width: 1025px) {
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 10%;
    }
  }

  .button-homepage:hover {
    color: #8c7184;
  }

 