@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

@font-face {
  font-family: "arck";
  src: url("../../assets/fonts/Edensor-Free.woff") format('woff');
}

.header {
    display: flex;
    flex-direction: column;
  }

.background-main {
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: block;
}
  
  .title {
    font-family: 'arck';
    color: rgb(39, 38, 38); 
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 360px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('../../images/background-text.png');
    background-size: 1300px;
    @media (max-width: 1025px) {
      font-size: 124px;
    }
  }

  .title-top {
    animation: fadeInRight 2s 0.5s both;
    position: absolute;
    margin-top: 14%;
    margin-left: 2%;
    @media (max-width: 1025px) {
      margin-top: 70%;
    }
  }

  .title-bottom {
    margin-top: 20%;
    margin-left: 2%;
    animation: fadeInRight 2s 0.5s both;
    position: absolute;
    z-index: 999;
    padding-top: 110px;
    @media (max-width: 1025px) {
      margin-top: 70%;
    }
  }


  .section-1 {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background:rgba(255,255,255, 0.7);
    padding-top: 3%;
  }
  
  .subtitle {
    font-size: 35px;
    font-weight: 300;
    width: 500px;
    margin-top: 0;
    margin-left: 0px;
  }

  .button-homepage {
    border: none;
    background-color: transparent;
    margin-right: 100px;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    cursor: pointer;
    @media (max-width: 1025px) {
      margin-right: 10%;
    }
  }

  .button-homepage:hover {
    color: #8c7184;
  }

 