.team-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 500px;
    margin-top: 0;
    margin-bottom: 6em;

    @media (max-width: 1025px) {
        flex-direction: column;
        margin-left: 10%;
        margin-top: 3em;
    }
}

.member-card {
    width: 300px;
    margin: 20px;
}


.member-info {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 10px;
    margin-right: 10px;

    .member-name {
        margin-bottom: 0;
    }
    
    .member-role {
        margin-top: 0;
    }
    
    .member-bio {
        font-size: 14px;
    }
}

.member-img {
    width: 100%;
}
