.partner-logo {
    width: 100%;
    @media (max-width: 1025px) {
        margin-left: 70%;
    }
}

.partner-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 6em;
    margin-left: 50px;
    max-width: 100vw;
    @media (max-width: 1025px) {
        margin-left: 16%;
        margin-top: 3em;
    }
}

.partner-card {
    width: 100px;
    margin: 20px;
}

.partner-info {
    display: none;
}



